---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/prose.astro";
import { CalendarIcon } from "lucide-react";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout
    title={post.data.title}
    description={post.data.description}
    image={post.data.og_image}
>
    <main class:list={["max-w-3xl mx-auto px-5 py-10"]}>
        <Prose>
            <header class="mt-12">
                <p class="text-xs">
                    <CalendarIcon className="size-4 inline-block mr-1.5 mb-1" />
                    {
                        post.data.date.toLocaleDateString("en-US", {
                            weekday: "long",
                            year: "numeric",
                            month: "long",
                            day: "numeric",
                        })
                    }
                </p>
                <h1>
                    {post.data.title}
                </h1>
                <p>
                    {post.data.description}
                </p>
                <div
                    class:list={[
                        "flex items-center gap-2.5 h-fit px-1 py-0.5 w-fit rounded-2xl",
                        "bg-zinc-900 border border-zinc-800",
                    ]}
                >
                    <img
                        src={post.data.author.avatar}
                        alt={post.data.author.name}
                        class="size-6 rounded-full mt-0 mb-0"
                    />
                    <a href={post.data.author.link} class="no-underline">
                        {post.data.author.name}
                    </a>
                </div>
                <hr />
            </header>
            <Content />
        </Prose>
    </main>
    <span
        class="fixed z-[-1] size-full top-0 left-0 bg-radial-[75%_75%_at_100%_0%] from-indigo-950 to-zinc-950"
    ></span>
</Layout>
