---
import Button from "./button.astro";
import { TypeScript, Python, CSharp, Github, Php } from "./react/icons";
import { ChevronDown, ExternalLink } from "lucide-react";
import type { JSX } from "astro/jsx-runtime";
import type { SVGProps } from "react";

interface ProgrammingLanguage {
    name: string;
    icon: (props: SVGProps<SVGSVGElement>) => JSX.Element;
}

const programmingLangs: ProgrammingLanguage[] = [
    {
        name: "TypeScript",
        icon: TypeScript,
    },
    {
        name: "Python",
        icon: Python,
    },
    {
        name: "C#",
        icon: CSharp,
    },
    {
        name: "Php",
        icon: Php,
    },
];

const workStartingYear = 2023;
const currentYear = new Date().getFullYear();
const diffYears = currentYear - workStartingYear;

const github = import.meta.env.PUBLIC_GITHUB;
---

<main
    class:list={[
        "min-h-screen sm:p-10 p-5",
        "flex flex-col items-center justify-center gap-10",
        "sm:bg-radial-[100%_100%_at_50%_0%] from-indigo-950 to-zinc-950 to-50%",
        "bg-radial-[100%_50%_at_50%_0%]",
    ]}
>
    <header
        class="max-w-3xl w-full p-5 sm:flex-row flex-col flex sm:gap-0 gap-5 md:mt-0 mt-20 justify-between items-center z-10"
    >
        <section class="sm:text-start text-center">
            <div>
                <p class="sm:text-2xl text-xl font-medium">
                    Hey there, this is
                </p>
                <p
                    class="font-jp sm:text-sm text-xs font-semibold text-zinc-400"
                >
                    こんにちは
                </p>
            </div>
            <div>
                <h1 class="sm:text-6xl text-5xl font-black text-indigo-400">
                    JOTIS
                </h1>
                <p
                    class="font-jp sm:text-sm text-xs font-semibold text-zinc-400"
                >
                    ジョティスです
                </p>
            </div>
        </section>
        <section class="text-center">
            <div>
                <p class="sm:text-2xl text-xl font-medium">Spanish</p>
                <p
                    class="font-jp sm:text-sm text-xs font-semibold text-zinc-400"
                >
                    スペイン人
                </p>
            </div>
            <div>
                <h1 class="sm:text-2xl text-xl font-semibold text-indigo-400">
                    Software Developer
                </h1>
                <p
                    class="font-jp sm:text-sm text-xs font-semibold text-zinc-400"
                >
                    ソフトウェア開発者
                </p>
            </div>
        </section>
    </header>
    <aside class="max-w-3xl w-full flex md:flex-row flex-col gap-5 z-10">
        <section class="flex flex-col gap-5 w-full">
            <div
                class:list={[
                    "flex flex-col gap-2.5 p-5 sm:text-start text-center",
                    "bg-zinc-800/30 backdrop-blur-md rounded-2xl",
                ]}
            >
                <p class="sm:text-6xl text-5xl font-semibold text-indigo-400">
                    +{diffYears} years
                </p>
                <p class="sm:text-xl text-lg font-medium">
                    of working experience
                </p>
            </div>
            <div
                class:list={[
                    "flex justify-between p-5",
                    "bg-zinc-800/30 backdrop-blur-md rounded-2xl",
                ]}
            >
                {
                    programmingLangs.map((lang) => {
                        const Icon = lang.icon;
                        return (
                            <p
                                class:list={[
                                    "flex flex-col items-center gap-2.5 max-w-20 w-full",
                                    "text-center text-amber-200 text-xs",
                                ]}
                            >
                                <Icon className="size-6" />
                                {lang.name}
                            </p>
                        );
                    })
                }
            </div>
        </section>
        <section
            class:list={[
                "flex flex-col md:gap-10 gap-5 p-5 w-full justify-between",
                "bg-zinc-800/30 backdrop-blur-md rounded-2xl md:text-start text-center",
            ]}
        >
            <div class:list={["flex flex-col gap-2.5"]}>
                <p class="sm:text-6xl text-5xl font-semibold text-indigo-400">
                    +24
                </p>
                <p class="sm:text-xl text-lg font-medium">projects done</p>
            </div>
            <div
                class="flex flex-wrap gap-5 items-center w-full sm:justify-between justify-center"
            >
                <a href="#projects">
                    <Button variant="secondary" onlyIcon={false}>
                        Check my latest work
                        <ExternalLink className="size-4 text-amber-200" />
                    </Button>
                </a>
                <a
                    href={`https://github.com/${github}`}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <Button variant="primary" onlyIcon={true}>
                        <Github className="size-6 fill-zinc-900" />
                    </Button>
                </a>
            </div>
        </section>
    </aside>
    <a
        href="#experience"
        id="scroll-down"
        class="absolute bottom-10 right-1/2 translate-x-1/2 z-10 animate-bounce md:block hidden"
    >
        <Button variant="secondary" onlyIcon={true}>
            <ChevronDown className="size-6" />
        </Button>
    </a>
</main>
