---
import Technology from "./technology.astro";
import Button from "./button.astro";
import { Github } from "./react/icons";
import { ExternalLink } from "lucide-react";
import { Image } from "astro:assets";

interface Props {
    name: string;
    technologies: (
        | "supabase"
        | "typescript"
        | "bun"
        | "astro"
        | "tailwind"
        | "next"
    )[];
    source: string;
    live?: string;
    reverse?: boolean;
    image: ImageMetadata;
}

const { name, technologies, source, reverse, live, image } = Astro.props;
---

<article
    class:list={[
        "w-full flex justify-center items-center relative sm:p-10 p-5",
    ]}
>
    <section
        class:list={[
            "max-w-3xl w-full z-10",
            "flex sm:flex-row flex-col items-center gap-10",
            reverse && "sm:flex-row-reverse flex-col",
        ]}
    >
        <aside class="flex flex-col gap-5 max-w-80 w-full">
            <header class="flex flex-col gap-2.5">
                <h1 class="text-2xl font-semibold text-indigo-400">{name}</h1>
                <section class="flex items-center gap-2.5">
                    {
                        technologies.map((technology) => (
                            <Technology variant={technology} />
                        ))
                    }
                </section>
            </header>
            <slot name="description" />
            <footer class="flex w-full justify-between">
                {
                    source && (
                        <Button variant="primary">
                            <a
                                href={source}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                Source code
                            </a>
                            <Github className="size-5 fill-zinc-900" />
                        </Button>
                    )
                }
                {
                    live && (
                        <a
                            href={live}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Button variant="secondary">
                                Live preview{" "}
                                <ExternalLink className="size-4 text-amber-200" />
                            </Button>
                        </a>
                    )
                }
            </footer>
        </aside>
        <figure
            class:list={[
                "bg-zinc-800/30 size-full rounded-[18px] overflow-hidden backdrop-blur-md p-1",
                "hover:scale-103 transition-all duration-500",
            ]}
        >
            <Image
                src={image}
                alt={name}
                class="rounded-2xl size-full object-cover"
            />
        </figure>
    </section>
</article>
