---
import Technology from "./technology.astro";
import Button from "./button.astro";
import { Github } from "./react/icons";
import { ExternalLink } from "lucide-react";
import { Image } from "astro:assets";

interface Props {
    name: string;
    technologies: (
        | "supabase"
        | "typescript"
        | "bun"
        | "astro"
        | "tailwind"
        | "next"
    )[];
    source: string;
    live?: string;
    reverse?: boolean;
    image: ImageMetadata;
}

const { name, technologies, source, reverse, live, image } = Astro.props;

import backgroundImage from "../assets/background.png";
---

<article
    class:list={[
        "w-full flex justify-center items-center relative sm:p-10 p-5",
    ]}
>
    <section
        class:list={[
            "max-w-3xl w-full z-10",
            "flex sm:flex-row flex-col items-center gap-10",
            reverse && "sm:flex-row-reverse flex-col",
        ]}
    >
        <aside class="flex flex-col gap-5 max-w-80 w-full">
            <header class="flex flex-col gap-2.5">
                <h1 class="text-2xl font-semibold text-indigo-400">{name}</h1>
                <section class="flex items-center gap-2.5">
                    {
                        technologies.map((technology) => (
                            <Technology variant={technology} />
                        ))
                    }
                </section>
            </header>
            <slot name="description" />
            <footer class="flex w-full justify-between">
                {
                    source && (
                        <a
                            href={source}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Button variant="primary">
                                Source code
                                <Github className="size-5 fill-zinc-900" />
                            </Button>
                        </a>
                    )
                }
                {
                    live && (
                        <a
                            href={live}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Button variant="secondary">
                                Live preview
                                <ExternalLink className="size-4 text-amber-200" />
                            </Button>
                        </a>
                    )
                }
            </footer>
        </aside>
        <figure
            class:list={[
                "relative bg-zinc-800/30 size-full sm:max-w-full max-w-80 rounded-[18px] overflow-hidden backdrop-blur-md",
                "group border-4 border-zinc-800/30",
            ]}
        >
            <Image
                src={image}
                alt={name}
                class:list={[
                    "group-hover:scale-105 group-hover:-translate-y-1.5 transition-transform duration-300",
                    "size-full object-cover z-10 relative",
                ]}
            />
            <span class="size-full absolute inset-0">
                <Image
                    src={backgroundImage}
                    alt="Background"
                    class:list={[
                        "rounded-2xl object-cover",
                        " scale-110 group-hover:scale-100 transition-transform duration-300",
                    ]}
                />
            </span>
        </figure>
    </section>
</article>
