---
import Project from "./project.astro";
import TitlePattern from "./title-pattern.astro";

// import porfolioImage from "../assets/porfolio.png";
import linkJotisImage from "../assets/link_jotis.png";
import yoruBotImage from "../assets/yorubot.png";
import becallAppImage from "../assets/becall_app.png";

import background1 from "../assets/background_1.png";
import background2 from "../assets/background_2.png";
import background3 from "../assets/background_3.png";
---

<main
    id="projects"
    class:list={[
        "relative",
        "sm:bg-radial-[50%_50%_at_50%_50%] from-indigo-950 to-zinc-950 to-50%",
        "bg-radial-[100%_50%_at_50%_50%]",
    ]}
>
    <TitlePattern en="Projects" jp="プロジェクト" />
    <Project
        name="BeCall App"
        live={{
            android:
                "https://play.google.com/store/apps/details?id=com.becall.app",
            ios: "https://apps.apple.com/es/app/becall-app/id6692628418",
        }}
        image={becallAppImage}
        backgroundImage={background3}
        technologies={["tailwind", "angular", "ionic"]}
        reverse
    >
        <p slot="description" class="sm:text-base text-sm">
            A <strong class="strong">mobile application</strong> designed to efficiently
            manage productivity for modern businesses. It enables employees to accurately
            <strong class="strong">
                track schedules, clock in and out and manage breaks.
            </strong>
        </p>.
    </Project>
</main>
<Project
    name="Byte & Slice"
    technologies={["tailwind", "next", "bun"]}
    source="https://github.com/yoruverse-dev/byteandslice"
    image={linkJotisImage}
    backgroundImage={background2}
    live={{
        web: "https://link.jotis.me",
    }}
>
    <p slot="description" class="sm:text-base text-sm">
        Experience the <strong class="strong"
            >free, unlimited, and open-source</strong
        > URL shortener that puts your privacy first with <strong class="strong"
            >no tracking</strong
        >.
    </p>
</Project>
<Project
    name="YoruBot"
    technologies={["typescript", "bun"]}
    source="https://github.com/yoruverse-dev/discord-bot"
    image={yoruBotImage}
    backgroundImage={background1}
    reverse
>
    <p slot="description" class="sm:text-base text-sm">
        Created with
        <a
            class="link"
            href="https://discordjs.guide"
            target="_blank"
            rel="noopener noreferrer"
        >
            Discord.js library
        </a>. YoruBot was made for entertaining. Ready to use, open-source and
        MIT license.
    </p>
    <section slot="content" class="relative flex justify-end w-full h-[300px]">
        <figure
            class="bg-zinc-800/30 size-full rounded-2xl backdrop-blur-md p-2.5"
        >
        </figure>
    </section>
</Project>
<!-- <Project
        name="YoruGacha (WIP)"
        technologies={["tailwind", "next", "bun"]}
        source="https://github.com/yoruverse-dev/gacha"
        reverse
        image={porfolioImage}
        backgroundImage={background1}
    >
        <p slot="description" class="sm:text-base text-sm">
            An <strong class="strong">anime characters gachapon.</strong> Made for
            playing on the web. No trackers, no ads, just fun. Developed with
            <a
                class="link"
                href="https://nextjs.org"
                target="_blank"
                rel="noopener noreferrer"
                >Next.js
            </a> and deployed in my own server.
        </p>
        <section
            slot="content"
            class="relative flex justify-end w-full h-[300px]"
        >
            <figure
                class="bg-zinc-800/30 size-full rounded-2xl backdrop-blur-md p-2.5"
            >
            </figure>
        </section>
    </Project> -->
